<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Order a Pet</title>
    <link href="css/dating.css" rel="stylesheet">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
</head>
<body>
<div class="container">
    <form method="post" action="#">
    <h1>Order a Pet</h1>
<label for="petkind">What kind of Pet would you like to order: </label>
<input type="text" id="petkind"><br>
<label for="color">Select a color</label>
<select id="color">
    <option>White</option>
    <option>Gray</option>
    <option>Black</option>
</select><br>
        <button type="submit">Place order</button>
    </form>
</div>
</body>
</html>